global
    maxconn 10000

defaults
    timeout connect 5s
    timeout client  1m
    timeout server  1m

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if LOCALHOST

frontend cache_front
    bind *:6379
    mode tcp
    default_backend cache_nodes

backend cache_nodes
    mode tcp
    balance roundrobin
    server node-1 node-1:6379 check
    server node-2 node-2:6379 check
    server node-3 node-3:6379 check
